<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="homepage.component.css">
</head>

<body>
    <div class="main">
        <div class="bar">
            <img src="../../assets/homepage-images/logo-ProConnect.png" alt="" width="60px" height="60px"> 
        </div>
        <div class="container">

            
           

            <div class="content">
                <svg class="vector2" width="800" height="500" viewBox="0 0 739 419" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M145 -694.784C91.8 -779.184 23.1667 -765.284 -4.49994 -747.784C-85.2999 -723.784 -99.1666 -644.45 -96 -607.784L-110 390.216L268.5 417.716C457.5 425.383 813.4 373.716 725 105.716C614.5 -229.284 463.5 -162.784 268.5 -259.284C73.5 -355.784 145 -483.784 167.5 -509.284C190 -534.784 211.5 -589.284 145 -694.784Z" fill="#895AB9"/>
                    </svg>
                
                <h1 class="title">
                    <span class="preto">Projetos que ganham vida</span><br>
                    <span class="azul">começam aqui.</span>
                </h1>
                <div class="buttons-container">
                    <button id="meusProjetos" class="button">Meus Projetos</button>
                    <button id="testeCompetencia" class="button">Teste de Competência</button>
                </div>           
                <svg class="vector1" width="500" height="500" viewBox="0 0 765 828" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M637.147 58.1734C694.447 -18.7623 762.587 -2.21786 789.495 15.6713C869.355 42.3501 879.518 117.864 874.618 152.286L841.651 1094.21L460.964 1101.2C271.157 1098.97 -83.1484 1032.43 18.081 784.102C144.618 473.691 292.842 543.966 492.846 462.716C692.85 381.466 627.21 257.169 605.858 231.994C584.505 206.819 565.521 154.343 637.147 58.1734Z" fill="#895AB9"/>
                    </svg>
            </div>


        </div>
    </div>
</body>

</html>